@charset "utf-8";
/* CSS Document */
*{margin:auto;padding:0;list-style-type:none;font-size:14px;z-index: 99;font-family:"微软雅黑","arial"; outline: none; color:#333;}
a,img{
  border:0;
   -webkit-tap-highlight-color:rgba(255,0,0,0);
}
p{
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}
body{
  margin:0 auto;
  padding:0;
  background: #90B44B;
  transition: background 2s ease-in;
}
#gloss,#bgWrap,.menu{
  position:absolute;
  z-index: -99;
  top:0;
}
#gloss{
  width: 100%;
  background: url(../img/gloss.png) repeat-x;
}
#bgWrap{
  width: 100%;
  height: 100%;
  background-image: url(../img/texture.png);
  -webkit-transition: background-color 2s ease-in;
}
a,a:link,a:visited,a:hover,a:active{
  color:inherit;
  text-decoration: none;
}
.menu{
  z-index: 99;
}
.menu a{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.menu a:hover,.menu-on{
  margin-top: 0;
  font-size:16px;

}
.menu a:hover{
  border-top:2px solid #fff10c;
  color:#000;
}
.menu-on{
  border-top:2px solid #FFB11B;
  font-size:16px;
  color:#fff !important;
  transition: all 1s;
}
.clr{
  overflow:hidden;
  clear:both;
}
.LOGO-wrapper{
  width: 100%;
  position: absolute;
  bottom:30%;
}
.wrapper{
  width: 96%;
  margin-top: 100px;
}
.LOGO-wrapper2{
}
.Social{
  width: 80%;
  display: none;
}
.block{
  width: 210px;
  margin: 37px;
  float: left;
}
.LOGO,.LOGO-box,.LOGO2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.block .LOGO,.block .LOGO-box,.block .LOGO2{
  border-radius:20px;
}

.LOGO-box{
  padding: 5px;
  animation: LOGO-hover 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.LOGO2{
  width: 200px;
  height: 201px;
  display: block;
  position: relative;
  margin-top:-201px;
  z-index: 999;
  opacity: 0;
}
.LOGO-box a:hover{
  opacity: 1;
  transition: all 1s ease-out;
  transform:rotateY(360deg);
}
.LOGO-box a{
  transform:rotateY(0deg);
}
/*主页旋转图*/
.Home .LOGO{
  background: url(../img/LOGO.png) no-repeat #fff;
  background-size: contain;
}
.Home a:hover{
transform:rotate(360deg);
}
.Home .LOGO2{
  background: url(../img/photo.jpg) no-repeat #fff;
  background-size: contain;
  ransform:rotate(0deg);
}
/*微信旋转图*/
.WeChat .LOGO{
  background: url(../img/WeChat.png) no-repeat #fff center;
  background-size: contain;
}
.WeChat .LOGO2{
  background: url(../img/WeChat.jpg) no-repeat #fff center;
  background-size:contain;
}
/*GitHub旋转图*/

.GitHub .LOGO{
  background: url(../img/GitHub.jpg) no-repeat #fff center;
  background-size: contain;
}
.GitHub .LOGO2{
  background: url(../img/GitHub.png) no-repeat #fff center;
  background-size:contain;
}
/*微博旋转图*/
.WeiBo .LOGO{
  background: url(../img/Weibo.jpg) no-repeat #fff center;
  background-size: cover;
}
.WeiBo .LOGO2{
  background: url(../img/WeiBo.png) no-repeat #fff center;
  background-size:contain;
}
/*知乎旋转图*/
.ZhiHu .LOGO{
  background: url(../img/ZhiHu.jpg) no-repeat #fff center;
  background-size: cover;
}
.ZhiHu .LOGO2{
  background: url(../img/ZhiHu.png) no-repeat #fff center;
  background-size:contain;
}
/*邮件旋转图*/
.E-mail .LOGO{
  background: url(../img/E-mail.jpg) no-repeat #fff center;
  background-size: cover;
}
.E-mail .LOGO2{
  background: url(../img/E-mail.png) no-repeat #fff center;
  background-size: contain;
}
.Personal {
  display: none;
  width: 90%;
}
.Personal .block{
  height: auto;
  margin: 0;
  width: 300px;
}
.Personal .LOGO-box{
  width: 150px;
  height: 150px;
  margin: 0 75px;
  border-radius: 50%;
  background-position: 0px -40px;
  overflow: hidden;
  float:left;
  padding: 0;
}
.Personal .LOGO-box img{
  width: 100%;
}
.name{
  line-height: 60px;
  font-size: 50px;
  font-weight: 800;
  color:#fff;
  display: block;
  float: left;
  width:100%;
  padding-bottom: 20px;
  border-bottom: 5px solid #fff;
  margin-bottom: 10px;
}
.LOGO-text{
  display: block;
  float: left;
}
.skill{
  width: 100%;
  margin-top: 20px;
  background: rgba(168,216,185,.5);
}
.skill>li{
  height: 20px;
  line-height: 20px;
  margin: 10px 0;
}
.skill>li>a{
  float: left;
  display: block;
  width: 20%;
  margin-left: 8%;
  text-align: right;
  color:#fff;
}
.skill>li>span{
  width: 57%;
  float:left;
  display: block;
  margin: 7px 7%;
  background: #00AA90;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 8%;
}
.skill>li>span>span{
  background:#fff;
  display: block;
  float:left;
  height: 6px;
}
.skill>li>a:last-child{
  width: 30px;
  float:left;
}
.slogen{
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
@keyframes LOGO-hover
{
  from {background:rgba(255,255,255,0)}
  50% {background:rgba(255,255,255,.5)}
  to {background:rgba(255,255,255,0)}
}
@keyframes LOGO-in{
  from {opacity: 0.1}
  to{opacity: 1}
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}
