@charset "utf-8";
/* CSS Document */
*{margin:auto;padding:0;list-style-type:none;font-size:14px;z-index: 99;font-family:"微软雅黑","arial"; outline: none; color:#333;}
a,img{
  border:0;
   -webkit-tap-highlight-color:rgba(255,0,0,0);
}
p{
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}
body{
  margin:0 auto;
  padding:0;
  background: #90B44B;
  transition: background 2s ease-in;
}
#gloss,#bgWrap,.menu{
  position:absolute;
  z-index: -99;
  top:0;
}
#gloss{
  width: 100%;
  background: url(../img/gloss.png) repeat-x;
}
#bgWrap{
  width: 100%;
  height: 100%;
  background-image: url(../img/texture.png);
  -webkit-transition: background-color 2s ease-in;
}
a,a:link,a:visited,a:hover,a:active{
  color:inherit;
  text-decoration: none;
}
.menu{
  z-index: 99;
}
.menu a{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor:pointer;
}
.menu a:hover,.menu-on{
  margin-top: 0;
  font-size:16px;

}
.menu a:hover{
  border-top:2px solid #fff10c;
  color:#000;
}
.menu-on{
  border-top:2px solid #FFB11B;
  font-size:16px;
  color:#fff !important;
  transition: all 1s;
}
.clr{
  overflow:hidden;
  clear:both;
}
.LOGO-wrapper{
  width: 100%;
  position: absolute;
  bottom:30%;
}
.wrapper{
  width: 96%;
  margin-top: 100px;
}
.LOGO-wrapper2{
}
.Social{
  width: 80%;
  display: none;
}
.block{
  width: 210px;
  margin: 37px;
  float: left;
  position: relative;
  top:0;
}

.LOGO,.LOGO-box,.LOGO2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.block .LOGO,.block .LOGO-box,.block .LOGO2{
  border-radius:20px;
}

.LOGO-box{
  padding: 5px;
  animation: LOGO-hover 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.LOGO2{
  width: 200px;
  height: 201px;
  display: block;
  position: relative;
  margin-top:-201px;
  z-index: 999;
  opacity: 0;
}
.LOGO-box a:hover{
  opacity: 1;
  transition: all 1s ease-out;
  transform:rotateY(360deg);
}
.LOGO-box a{
  transform:rotateY(0deg);
}
/*主页旋转图*/
.Home .LOGO{
  background: url(../img/LOGO.png) no-repeat #fff;
  background-size: contain;
}
.Home a:hover{
transform:rotate(360deg);
}
.Home .LOGO2{
  background: url(../img/photo.jpg) no-repeat #fff;
  background-size: contain;
  ransform:rotate(0deg);
}
/*微信旋转图*/
.WeChat .LOGO{
  background: url(../img/WeChat.png) no-repeat #fff center;
  background-size: contain;
}
.WeChat .LOGO2{
  background: url(../img/WeChat.jpg) no-repeat #fff center;
  background-size:contain;
}
/*GitHub旋转图*/

.GitHub .LOGO{
  background: url(../img/GitHub.jpg) no-repeat #fff center;
  background-size: contain;
}
.GitHub .LOGO2{
  background: url(../img/GitHub.png) no-repeat #fff center;
  background-size:contain;
}
/*微博旋转图*/
.WeiBo .LOGO{
  background: url(../img/Weibo.jpg) no-repeat #fff center;
  background-size: cover;
}
.WeiBo .LOGO2{
  background: url(../img/WeiBo.png) no-repeat #fff center;
  background-size:contain;
}
/*知乎旋转图*/
.ZhiHu .LOGO{
  background: url(../img/ZhiHu.jpg) no-repeat #fff center;
  background-size: cover;
}
.ZhiHu .LOGO2{
  background: url(../img/ZhiHu.png) no-repeat #fff center;
  background-size:contain;
}
/*邮件旋转图*/
.E-mail .LOGO{
  background: url(../img/E-mail.jpg) no-repeat #fff center;
  background-size: cover;
}
.E-mail .LOGO2{
  background: url(../img/E-mail.png) no-repeat #fff center;
  background-size: contain;
}
.Record {
  display: none;
  width: 95%;
  margin-left:5%;
  margin-right: 0;
}
.Record .block{
  height: auto;
  margin: 0;
  width: 20%;
  /*margin-top: 20px;*/
}
.Record .LOGO-box{
  width: 150px;
  height: 150px;
  /*margin: 0 55px;*/
  border-radius: 50%;
  background-position: 0px -40px;
  overflow: hidden;
  padding: 0;
}
.LOGO-big{
  width: 200px !important;
  height: 200px !important;
  transition: all 1s ease-out;
}
.Record .LOGO-box img{
  width: 100%;
}
.Home .slogen{
  font-size: 16px;
  line-height: 25px;
}
.name{
  line-height: 60px;
  font-size: 50px;
  font-weight: 800;
  color:#fff;
  display: block;
  width:100%;
}
.line{
  border-bottom: 2px dashed #fff;
}
.LOGO-text{
  display: block;
  float: left;
}
.skill{
  width: 100%;
  margin-top: 20px;
  background: rgba(255,255,255,.3);
}
.skill>li{
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
  opacity: 0.7;
}
.skill>li:hover{
  opacity: 1;
  transition: opacity 0s;
}
.skill>li>a{
  float: left;
  display: block;
  width: 23%;
  margin-left: 8%;
  text-align: right;
  color:#fff;
}
.skill>li>span{
  width: 54%;
  float:left;
  display: block;
  margin: 7px 7%;
  background: #0089A7;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 8%;
}
.skill>li>span>span{
  background:#fff;
  display: block;
  float:left;
  height: 6px;
}
.skill>li>a:last-child{
  width: 30px;
  float:left;
}
.slogen{
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px
}
.block .slogen{
  color:#fff;
}
.position{
  margin-top: 20px;
  cursor: pointer;
}
.position:hover{
  color:#fff;
  text-shadow:none;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.right-block{
  width: 78%;
  max-height: 600px;
  margin-left:2%;
  float: right;
  overflow: hidden;
}
.swiper-container{
  height: 100%;
}
.banner-title a{
  padding: 0 30px;
  font-size: 30px;
  font-weight: bold;
  color:#151515;
}
.text{
  font-size: 14px;
  font-weight:normal; !important;
  margin-bottom: 3%;
  padding-top: 0;
  margin-top: 20px;
}
.mini-block{
  width: 31%;
  margin: 0 1%;
  height: 93%;
  float: left;
  margin-bottom: 10px;
}
.mini-block>a{
  display: block;
  transition: all 0.5s ease-out;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255,255,255,.1);
  box-shadow: 0px 3px 10px rgba(0,0,0,.5);
  margin-top: 10px;
}
.big a{
  transition: all 0.5s ease-out;
  width: 120px !important;
  height: 120px !important;
}
.mini-block .title{
  display: block;
  text-align: center;
  margin-top: 5px;
}
.title-block{
  height: 140px;
}
.mini-block>a>img{
  width: 50%;
  margin: 0 25%;
  margin-top: 15px;
}
.show-block{
  width: 26%;
  height: 287px;
  background: rgba(255,255,255,1);
  margin-top: 30px;
  position: absolute;
  left: 35%;
  border-radius: 10px;
  padding: 0 2% 2% 2%;
}
.show-block p{
  font-size: 12px;
  line-height: 25px;
}
.show-block ul{
  display: none;
  margin: auto;
  margin-left:20px;
  margin-top: 30px;
}
.ul-show{
  display: block !important;
}
.show-block li{
  font-size: 14px;
  list-style-type: disc;
  margin:15px 0;
}
#script{
  display: block;
}
#triangle{
  width: 100%;
  height:25px;
  margin-top: -12px;
}
.Experience{
  overflow: hidden;
  width: 80% !important;
}
.Experience .swiper-wrapper{
  height: 80%;
  float: left;
  bottom:0;
}
/*个人经历按钮样式*/

/*.Experience .swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  margin: 0 20px !important;
  background: url('../img/planet.png') no-repeat !important;
  background: rgb(0, 137, 167);
  border:1px solid #fff;
  background-size:250px !important;
  background-position: ;
  bottom: -150px !important;
}
.Experience  .swiper-pagination-bullet-active{
  background: #fff;
}*/
.swiper-button-next,.swiper-button-prev{
  width: 60px !important;
  height: 60px !important;
  background-image:url(../img/icon-1460347264501.png) !important;
  background-size: contain !important;
  border-radius: 50%;
  transition: all 1s ease-out;
  opacity: 0.3;
}
.swiper-button-next{
  transform:rotate(-90deg);
}
.swiper-button-prev{
  transform:rotate(90deg);
}
.swiper-button-prev:hover,.swiper-button-next:hover{
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  opacity: 0.8;
  transition: all 1s ease-out;
}
/*个人经历按钮样式*/
.Experience .swiper-pagination{
  bottom:30px;
  /*border-top: 5px rgba(255,255,255,.2) dotted;*/
  padding-top: 20px;
}
.Exp-content{
  width: 80%;
  height: 80%;
  color:#000;
  margin: auto;
  padding:2% 10%;
  background: rgba(0,0,0,.1);
}
.Exp-content p{
  width: 50%;
  float: left;
  clear: both;
}
.Exp-title{
  font-size:22px;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.Exp-subhead{
  font-size:14px;
  text-align: left;
  margin-bottom: 10px;
}
.ul-subhead{
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
}
.Experience .point-ul li{
  list-style-type: disc;
  margin: 5px;
  color:#333;
  margin-left: 20px;
}
.Exp-btn{
  position:absolute;
  bottom:0;
  width:40%;
  height: auto;
  margin:0 30%;
  border-radius: 50%;
}
.btn-line{
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 50%;
  z-index: -1;
}
.Exp-btn li a{
  height: 20px;
  width: 20px;
  display: block;
  border: rgba(255,255,255,.5) 1px solid;
  background: rgb(0, 137, 167);
  border-radius: 50%;
}
.Exp-btn li{
  width: 25%;
  float: left;
}
.on-btn a{
  background: #fff !important;
}
.shangcheng{
  background: rgba(0,0,0,.1) url(../img/bg1.png) no-repeat;
  background-position: 500px 0;
  background-size:contain;
}
.laobanlai{
  background: rgba(0,0,0,.1) url(../img/bg2.png) no-repeat;
  background-position: 500px 0;
  background-size:contain;
}
@keyframes LOGO-hover
{
  from {background:rgba(255,255,255,0)}
  50% {background:rgba(255,255,255,.5)}
  to {background:rgba(255,255,255,0)}
}
@keyframes LOGO-in{
  from {opacity: 0.1}
  to{opacity: 1}
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}
