@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;margin: auto;font-size:14px; font-family:"微软雅黑","arial"; outline: none; color:#333;}
a,img{
  border:0;
   -webkit-tap-highlight-color:rgba(255,0,0,0);
}
p{
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}
body{
  margin:0 auto;
  padding:0;
  background: #90B44B;
  transition: background 2s ease-in;
}
#gloss{
  position: fixed;
  width: 100%;
  background: url(../img/gloss.png) repeat-x;
}
#bgWrap{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../img/texture.png);
  -webkit-transition: background-color 2s ease-in;
}
a,a:link,a:visited,a:hover,a:active{
  color:inherit;
  text-decoration: none;
}
.menu{
  position: fixed;
  z-index: 99;

}
.menu a{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.menu a:hover,.menu-on{
  margin-top: 0;
  font-size:16px;

}
.menu a:hover{
  border-top:2px solid #fff10c;
  color:#000;
}
.menu-on{
  border-top:2px solid #FFB11B;
  font-size:16px;
  color:#fff !important;
  transition: all 1s;
}
.clr{
  overflow:hidden;
  clear:both;
}
.LOGO-wrapper{
  width: 100%;
  position: absolute;
  bottom:30%;
}
.LOGO,.LOGO-box,.LOGO2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.LOGO-box{
  padding: 5px;
  animation: LOGO-hover 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.LOGO2{
  width: 200px;
  height: 201px;
  display: block;
  position: relative;;
  margin-top:-201px;
  z-index: 999;
  opacity: 0;
}
.LOGO-box a:hover{
  opacity: 1;
  transition: all 1s ease-out;
  transform:rotate(360deg);
}
.LOGO-box a{
  transform:rotate(0deg);
}
/*主页旋转图*/
.Home{
  display: block;
}
.Home .LOGO{
  background: url(../img/LOGO.png) no-repeat #fff;
  background-size: contain;
}
.Home a:hover{
transform:rotateY(360deg);
}
.Home .LOGO2{
  background: url(../img/photo.jpg) no-repeat #fff;
  background-size: contain;
  ransform:rotateY(0deg);
}
/*微信旋转图*/
.WeChat{
  display:none;
}
.WeChat .LOGO{
  background: url(../img/WeChat.png) no-repeat #fff center;
  background-size: contain;
}
.WeChat .LOGO2{
  background: url(../img/WeChat.jpg) no-repeat #fff center;
  background-size: 80%;
}
/*GitHub旋转图*/
.GitHub{
  display:none;
}
.GitHub .LOGO{
  background: url(../img/GitHub.jpg) no-repeat #fff center;
  background-size: cover;
}
.GitHub .LOGO2{
  background: url(../img/GitHub.png) no-repeat #fff center;
  background-size: 80%;
}
/*微博旋转图*/
.WeiBo{
  display:none;
}
.WeiBo .LOGO{
  background: url(../img/Weibo.jpg) no-repeat #fff center;
  background-size: cover;
}
.WeiBo .LOGO2{
  background: url(../img/WeiBo.png) no-repeat #fff center;
  background-size: 80%;
}
/*知乎旋转图*/
.ZhiHu{
  display:none;
}
.ZhiHu .LOGO{
  background: url(../img/ZhiHu.jpg) no-repeat #fff center;
  background-size: cover;
}
.ZhiHu .LOGO2{
  background: url(../img/ZhiHu.png) no-repeat #fff center;
  background-size: 80%;
}
/*知乎旋转图*/
.E-mail{
  display:none;
}
.E-mail .LOGO{
  background: url(../img/E-mail.jpg) no-repeat #fff center;
  background-size: cover;
}
.E-mail .LOGO2{
  background: url(../img/ZhiHu.png) no-repeat #fff center;
  background-size: 80%;
}
@keyframes LOGO-hover
{
  from {background:rgba(255,255,255,0)}
  50% {background:rgba(255,255,255,.5)}
  to {background:rgba(255,255,255,0)}
}
@keyframes LOGO-in{
  from {opacity: 0.1}
  to{opacity: 1}
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}
